<!-- Top bar area -->
<div class="flex flex-col flex-auto w-full">
    <mat-toolbar>
        <div
            class="flex flex-0 items-center justify-between w-full h-16 sm:h-20 px-6 sm:px-8 z-49 bg-card gap-4">
            <a routerLink="/">
                <img src="assets/images/aYo-movies-logo.png" alt="aYo logo" class="w-48">
            </a>
            <div class="">
                <button mat-icon-button [routerLink]="'watch-later'" matTooltip="View your watch later list">
                    <mat-icon >visibility</mat-icon>
                </button>
                <button mat-icon-button (click)="onDarkModeToggle()" matTooltip="Toggle dark mode on/off" >
                    <mat-icon *ngIf="isDarkMode" color="accent">light_mode</mat-icon>
                    <mat-icon *ngIf="!isDarkMode" color="primary">dark_mode</mat-icon>
                </button>
            </div>
            <!-- Dark mode toggle -->
        </div>
    </mat-toolbar>
</div>