<div class="flex flex-col justify-start w-full h-full p-2 mt-6 ">
    <h1 class="text-3xl ml-8">Watch later</h1>

    <div class="flex flex-row flex-wrap justify-center gap-4 ">
        <ng-container *ngFor="let item of _indexedDbService.audioVisualFavorites$ | async; trackBy: identifyList">
            <mat-card class="flex flex-col max-w-72 w-72 mt-8">
                <img src="{{item.Poster}}" alt="poster"
                    class="cursor-pointer object-cover rounded-t-md scale-100 hover:scale-125 ease-in duration-200">
                <div class="mt-8">
                    <div class="text-2xl font-semibold leading-tight">{{item.Title}}</div>
                    <div class="text-gray-400 text-sm mt-1">{{item.Genre}}</div>
                    <div class="mt-4">{{item.Plot}}</div>
                </div>
                <button mat-icon-button (click)="watchLater(item)" matTooltip="Remove from watch later">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card>
        </ng-container>
    </div>
</div>