<div class="flex flex-col items-center w-full h-full">
    <form class="mx-auto mt-8" [formGroup]="searchForm">
        <!-- Movie search input -->
        <mat-form-field class="w-96" appearance="outline">
            <input id="search" matInput [formControlName]="'search'" >
            <mat-icon *ngIf="!hasValue" matPrefix>search</mat-icon>
            <button *ngIf="hasValue" mat-icon-button matSuffix (click)="clearSearch()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </form>

</div>